{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block head %}
    <style>
        #spinner {
            display: none;
        }

        span.highlight1 {
            background-color: #17a2b8;
            border-radius: 2px;
            padding: 3px 2px;
        }

        span.highlight2 {
            background-color: #2135b8;
            color: #fff;
            border-radius: 2px;
            padding: 3px 2px;
        }

        .list-group-item {
            padding: .3rem 1rem;
        }
    </style>
{% endblock %}


{% block content %}
    <h3 class="my-4">Tech Support Email Classifier</h3>

    <form id="emailForm" action="" method="post" style="width: 100%;">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-8">
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {% render_field form.email class="form-control" %}
                </div>
            </div>
        </div>
        <button class="btn btn-primary my-3" type="submit" id="processTextBtn">Process</button>
    </form>

    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
{% endblock %}

