{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block head %}
    <style>
        #spinner {
            display: none;
        }

        span.highlight1 {
            background-color: #17a2b8;
            border-radius: 2px;
            padding: 3px 2px;
        }

        span.highlight2 {
            background-color: #2135b8;
            color: #fff;
            border-radius: 2px;
            padding: 3px 2px;
        }

        .list-group-item {
            padding: .3rem 1rem;
        }
    </style>
{% endblock %}


{% block content %}
    <h3 class="my-4">Tech Support Email Classifier</h3>

    <form id="emailForm" action="" method="post" style="width: 100%;">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-8">
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {% render_field form.email class="form-control" %}
                </div>
            </div>
        </div>
        <button class="btn btn-primary my-3" type="submit" id="processTextBtn">Process</button>
    </form>

    {% if result %}
        <hr/>
        <div class="row col-md-8">
            <div class="col-md-6">
                <p>{{ result.annotated_email | safe }}</p>
            </div>
            <div class="col-md-2">
                <table class="table table-bordered table-sm col-md-4">
                    <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Color</th>
                    </tr>
                    <tr scope="row">
                        <td>L1</td>
                        <td style="background-color:#00FF00;"></td>
                    </tr>
                    <tr scope="row">
                        <td>L2</td>
                        <td style="background-color:#00FFFF;"></td>
                    </tr>
                    <tr scope="row">
                        <td>Urgency</td>
                        <td style="background-color:#FF00FF;"></td>
                    </tr>
                    <tr scope="row">
                        <td>Date</td>
                        <td style="background-color:#C0C0C0;"></td>
                    </tr>
                    <tr scope="row">
                        <td>Time</td>
                        <td style="background-color:#FFFF00;"></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row col-md-8">
            <div class="col-md-4">
                {% if result.possible_actions %}
                    <p>
                        <strong>Possible actions:</strong>
                        <ul>
                            {% for a in result.possible_actions %}
                                <li>{{a}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
                {% if result.possible_objects %}
                    <p>
                        <strong>Possible objects:</strong>
                        <ul>
                            {% for o in result.possible_objects %}
                                <li>{{o}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if result.urgency_markers %}
                    <p>
                        <strong>Possible urgency markers:</strong>
                        <ul>
                            {% for u in result.urgency_markers %}
                                <li>{{u}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
                {% if result.possible_date %}
                    <p>
                        <strong>Possible dates:</strong>
                        <ul>
                            {% for d in result.possible_date %}
                                <li>{{d}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
                {% if result.possible_time %}
                    <p>
                        <strong>Possible time:</strong>
                        <ul>
                            {% for t in result.possible_time %}
                                <li>{{t}}</li>
                            {% endfor %}
                        </ul>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

